<div  class="text-center py-4">
  <h1 class="font-bold text-3xl font-merri">Dear <%= adminFname %>, Welcome to your dashboard</h1>
</div>

<div class="text-center py-4">
  <h2 class="font-bold text-5xl font-merri">Posts</h2>
</div>

<div>
  <div class="grid grid-cols-4 text-2xl font-semibold max-md:hidden px-2">
    <div class="col-span-2">Title</div>

    <div>Creator</div>
    <div>Date - Modified</div>
  </div>
  <ul class="dashboard__post-container">
    <% data.forEach(post => { %>

    <li>
      <div class="title">
        <a href="/post/<%= post._id %>" class="text-2xl">
          <%= post.title %></a
        >
      </div>
      <div class="md:col-span-1 col-span-4">
        <% if (post.createdBy === adminName) { %>
        <span>You</span>
        <% } else { %>
        <span class="first-letter:uppercase"><%= post.createdBy %></span>
        <% } %>
      </div>

      <div class="md:col-span-1 col-span-4">
        <span class="text-lg font-light"><%= post.updatedAt.toDateString() %></span>
      </div>
      <% if (post.createdBy === adminName) { %>
      <div class="flex flex-row gap-3">
        <a href="/admin/edit-post/<%= post._id %>" class="dashboard__btn"><span>Edit</span></a>

        <a href="/admin/delete-post/<%= post._id %>" class="dashboard__btn"><span>Delete</span></a>
      </div>
      <% } %>
    </li>

    <% }) %>
  </ul>
</div>
