<section class="main_head">
  <%- include('partials/search_bar.ejs') %>
  <div class="grid lg:grid-cols-2">
    <div class="my-10">
      <h1 class="text-6xl font-bold mb-5">CurioCraze</h1>
      <div class="text-3xl font-semibold">
        A world of <span>Education</span> mixed with <span>Entertainment</span>
      </div>
    </div>
    <div class=""></div>
    <div class="text-xl font-semibold">
      Take a deep breath <span><%= user.firstname %></span> and get to reading
      with all of your favourite sections
    </div>
  </div>
</section>

<section class="py-10 sm:px-10 px-3">
  <div>
    <h1 class="text-4xl text-center font-semibold">Latest Posts</h1>
  </div>

  <ul class="posts_container">
    <% post.forEach(post => { %>
     <li class="post">
      <a href="/post/<%= post._id %>">
        <div class="relative">
          <img src="img/Post_Thumbnails/<%= post.image_address %>" alt="<%= post.image_address %>" class="post_image"/>
          <div class="post_description_container">
            <div class="post_description">
              <%= post.description %>
          </div>
          </div>
        </div>
      </a>
      <div class="px-2 pb-2">
      <a href="/post/<%= post._id %>"><h4 class="text-xl font-merri font-bold"><%= post.title %></h4></a>
      <div class="flex gap-4 my-2">
        <% post.tags.forEach(tag => { %>
          <span><a class="post_tag" href="/search/<%= tag %>"><%= tag %></a></span>
        <% }) %>
      </div>
      
      <span class="font-semibold"><%= post.createdAt.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %></span>
      <a href="/post/<%= post._id %>"><span class="read-more">Read More >></span></a>
    </div>
    </li>
    <% }) %>
  </ul>
</section>
  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>">&lt; View Older Posts</a>
  <% } %>
