<div>
<%- include('partials/search_bar.ejs') %>
</div>

<div>
    <h1 class="first-letter:uppercase"><%= searchTerm %></h1>
</div>

<section>
  <% if (data == []) { %>
    <ul>


      <% data.forEach(post => { %>
  
  
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
  
  
      <% }) %>
    </ul>
  <% } else {%>
    <div>No search results for <%= searchTerm %></div>
    <% } %>
</section>